* {
  box-sizing: border-box;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Roboto", "Seogue UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: hsl(215,100%,50%);
}

/*------------------------------------------------------------------------------
 * Site Header
------------------------------------------------------------------------------*/

#site-header {
  border-bottom: 1px solid #eee;
}

#site-logo {
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.875rem 0.5rem;
  border-bottom: 1px solid #eee;
}
#site-logo a {
  color: #000;
}
#site-logo a:hover {
  color: hsl(215,100%,50%);
}

#site-nav {
  display: flex;
  justify-content: center;
  height: 2rem;
}

#site-nav a {
  min-width: 5rem;
  padding: 0 1rem;
  display: block;
  color: #000;
  white-space: nowrap;
  line-height: 2rem;
}

#site-nav a:hover {
  color: hsl(215,100%,50%);
}
#site-nav a.site-nav-active {
  background: #eee;
  color: #999;
}

@media screen and (min-width: 360px) {
  #site-nav a {
    padding: 0 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  #site-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 3.0625rem;
    border-bottom: 1px solid #eee;
  }
  #site-logo {
    flex: 1;
    padding: 0 1rem;
    text-align: left;
    border-bottom: none;
  }
  #site-nav {
    flex: 1;
    justify-content: flex-end;
    background: transparent;
    padding: 0 1rem;
    height: 3rem;
  }
  #site-nav a {
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
  }
  #site-nav a.site-nav-active {
    background: #f6f6f6;
  }
}

/*------------------------------------------------------------------------------
 * Site Container
------------------------------------------------------------------------------*/

#site-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  min-height: 75vh;
}

@media screen and (min-width: 720px) {
  #site-container {
    padding: 2rem 0;
  }
}

/*------------------------------------------------------------------------------
 * Site Footer
------------------------------------------------------------------------------*/

#site-footer {
  border-top: 1px solid #eee;
  padding: 1rem;

  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: 0.75rem;
  color: #666;
}

#site-footer a {
  color: #666;
}
#site-footer a:hover {
  text-decoration: underline;
}
#site-footer a:after {
  display: inline-block;
  content: '\00B7';
  font-size: 0.75rem;
  line-height: 1.5;
  width: 1rem;
  text-align: center;
}
#site-footer a:last-of-type:after {
  display: none;
}

#site-footer-copyright {
  margin-bottom: 0.75rem;
}

#site-footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  #site-footer {
    padding: 2rem 0;
    font-size: 1rem;
  }
}

/*------------------------------------------------------------------------------
 * Forms
------------------------------------------------------------------------------*/

.form-default {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.form-group {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 0;
}
.form-group label {
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.25rem 0;
}
.form-group input {
  line-height: 1;
  line-height: 2rem;
  height: 2rem;
  padding: 0 0.333rem;
  border: 1px solid #ccc;
}

.form-footer {
  margin-top: 1rem;
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
}

.input-group-checkboxes label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
}
.input-group-checkboxes label:hover {
  background: #f6f6f6;
}
.input-group-checkboxes label input {
  margin: 0 0.5rem;
}
.input-group-checkboxes label a {
  padding-left: 0.35rem;
}

@media screen and (min-width: 720px) {
  .form-default {
  }
}

/*------------------------------------------------------------------------------
 * Buttons
------------------------------------------------------------------------------*/

.btn {
  background: #eee;
  display: inline-block;
  box-sizing: border-box;
  border: none;

  padding: 0.375rem 0.75rem;
  height: 2rem;

  line-height: 1.25rem;
  color: #000;
  font-weight: 500;

  cursor: pointer;
}
.btn.btn-primary {
  background: #000;
  color: #fff;
}

/*------------------------------------------------------------------------------
 * Link Block
------------------------------------------------------------------------------*/

.linkblock {
  margin: 0 0 1.5rem;
}
.linkblock-header {
  border-top: 1px solid #eee;
  background: #f6f6f6;
}
.linkblock-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  padding: 0.25rem 0.5rem;
}
.linkblock a,
.linkblock .linkblock-inert {
  display: block;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #eee;
  cursor: pointer;
}
.linkblock a:hover {
  background: #f6f6f6;
}

@media screen and (min-width: 1200px) {
  .linkblock {
    -webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
  }
}

/*------------------------------------------------------------------------------
 * Company Categories
------------------------------------------------------------------------------*/

#company-categories {
}
@media screen and (min-width: 720px) {
  #company-categories {
    column-count: 2;
    -moz-column-count: 2;
    column-gap: 2rem;
    -moz-column-gap: 2rem;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  #company-categories {
    column-count: 3;
    -moz-column-count: 3;
    break-inside: avoid;
  }
}

/*------------------------------------------------------------------------------
 * Company Profile
------------------------------------------------------------------------------*/

#company-profile {
  max-width: 50rem;
  margin: 0 auto;
}
#cp-header {
  margin: 0 0 1rem;
  display: flex;
  align-items: center;
}
#cp-logo {
  width: 3rem;
  height: 3rem;
  background: #f6f6f6;
}
#cp-title {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25em;
}
#cp-description {
  margin: 0 0 1.5rem;
}

@media screen and (min-width: 360px) {
  #cp-logo {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 720px) {
  #cp-logo {
    width: 6rem;
    height: 6rem;
  }
  #cp-title {
    margin-left: 1rem;
  }
  #cp-infos {
    display: flex;
  }
  #cp-infos .linkblock {
    flex: 1;
  }
  #cp-infos .linkblock:first-of-type {
    margin-right: 1em;
  }
  #cp-infos .linkblock:last-of-type {
    margin-left: 1em;
  }
}

/*------------------------------------------------------------------------------
 * Back Button
------------------------------------------------------------------------------*/

#back-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  background: #f6f6f6;

  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;

  color: #000;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;

  cursor: pointer;
  box-shadow: #eee 0 0 0 1px;
}

#back-button:hover {
  background: #000;
  color: #fff;
}
@media screen and (min-width: 960px) {
  #back-button {
    top: 5rem;
    left: 2rem;
  }
}


